/* DataFetcher.css */
.data-fetcher {
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
}
